<h2>Time sheet lock out dates</h2>

<table class="list">
  <tr>
    <th>Year</th>
    <th>Month</th>
    <th>Locked</th>
    <th></th>
  </tr>
  <% @dates.each do |date| %>
  <tr>
    <td><%= date.year %></td>
    <td><%= date.month %></td>
    <td><%= image_tag(date.locked ? 'true.png' : 'exclamation.png', :style => "vertical-align:bottom;" )%></td>
    <td class='buttons'>
      <%= link_to((date.locked ? 'Unlock' : 'Lock'), (date.locked ? unlock_date_path(:year => date.year, :month => date.month) : lock_date_path(:year => date.year, :month => date.month) ), :method => :post) %>
    </td>
  </tr>
  <% end %>
</table>